\.gradle/

\.idea/

build/

*.iml

*.class

local.properties

android/res/drawable-xhdpi/

android/libs/armeabi/

android/libs/x86/

android/libs/x86_64/

android/res/drawable-hdpi/

*.so

*.pro



android/assets/hs_err_pid14288\.log

android/assets/hs_err_pid17557\.log

android/assets/hs_err_pid17024\.log
